/* alexhladkyidotcom v3 */

html {
  font-size: 14px;
}

@media (max-width: 767px) {
  html {
    font-size: 16px;
  }
}

body {
  color: var(--color-brain-grey-900);
  max-width: 1200px;
  margin: auto;
  text-wrap: pretty;
  font-family: var(--font-sans);
}

/*

a {
  color: #1e90ff;
  text-decoration: underline;
  text-decoration-thickness: 0.5px;
  text-decoration-color: rgba(30,144,255,0);
  text-underline-offset: 5px;
}

a:hover {
  color: #FF7810;
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
  text-decoration-color: #ff7810;
  text-underline-offset: 4px;
}

*/

/* AH logo */

.cube-prep {
  will-change: transform, scale;
}

.cube-setup {
  scale: 0.7;
  transform-style: preserve-3d;
  transform: rotateX(-30deg) rotateY(-45deg);
}

@media (max-width: 768px) {
  .cube-setup {
    scale: 1;
  }
}

.setup-anim {
  animation: cube-setup 1.25s cubic-bezier(0.7, 0, 0.3, 1) .5s forwards;
}

@keyframes cube-setup {
  to {
    transform: rotateX(-30deg) rotateY(-225deg);
  }
}

.cube {
  width: 32px;
  height: 32px;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  transition: transform .3s cubic-bezier(.3,1.5,.5,1);
}

.faces {
  position: absolute;
  width: 32px;
  height: 32px;
  background-image: url('../../assets/img/ah-logo-tilesheet.png');
  background-size: 96px 64px;
  /*image-rendering: pixelated;*/
}

.face-top {
  transform: rotateX(90deg) translateZ(16px);
  background-position: -64px 0px;
}

.face-side1 {
  transform: translateZ(16px);
  background-position: 0px 0px;
}

.face-side2 {
  transform: rotateY(90deg) translateZ(16px);
  background-position: -32px 0px;
}

.face-side3 {
  transform: rotateY(180deg) translateZ(16px);
  background-position: 0px -32px;
}

.face-side4 {
  transform: rotateY(-90deg) translateZ(16px);
  background-position: -32px -32px;
}

.face-bottom {
  transform: rotateX(-90deg) translateZ(16px);
  background-position: -64px -32px;
}

img.logo {
  width: 32px;
}

@media (max-width: 768px) {
  img.logo {
    width: 48px;
    margin-top: 24px;
    margin-bottom: 24px;
  }
}

/* intro block */

#greeting {
  opacity: 0;
  animation: fadeIn 1000ms 500ms ease-out forwards, blurr 500ms 400ms ease-out forwards, moveUp 500ms 350ms ease-in-out forwards;
  text-align: right;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes blurr {
  from {
    filter: blur(20px);
  }
  to {
    filter: blur(0px);
  }
}

@keyframes moveUp {
  from {
    transform: translateX(-20px);
  }
  to {
    transform: translateX(0px);
  }
}

/* footer */

.footer-urls > a {
  margin-left: 6px;
  margin-right: 6px;
}

@media (max-width: 767px) {
  .footer-urls > a {
    line-height: 300%;
  }
}

img.pdficon {
  width: 16px;
  height: 16px;
  margin-right: 3px;
  position: relative;
  bottom: 2px;
  color: #fafbff;
}

img.flag {
  width: 18px;
  height: 18px;
  margin-left: 3px;
  margin-right: 3px;
  position: relative;
  bottom: 0.5px;
}
